<div class="box">
<article class="media">
<div class="content">
<div class="content">
<p>
<strong>
<%= comment.name %>:</strong>
<%= comment.comment %>
</p>
</div>
</div>
<%= link_to "Delete", post_path(@post),method: :delete, data: {confirm: "Are you sure ?"}, class: "btn btn-outline-danger"%>

</article>
</div>