<h1 class="title" align="center"> My Posts </h1> 

<div class="card-deck" >
  <% @post.each do |post|  %>
    <div class="col-6 col-sm-3 col-md-3 p-2">
       <div class="card border-primary">
            <div class="card-body" style="text-align:center;">
            <div class="card-img-top"><%= image_tag(post.img, size: "100x100", alt: "Post Image")%></div>
                <h5 class="card-text" style="text-align:center; font-weight:bold; "> <br>
                <%= link_to post.title, post  %>
                </h5>
                
            </div>
        </div>
    </div>
  <% end %>
</div>


 
